<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table border="1" align="center">
		<tr bgcolor="00FF7F">
			<td><a href=/register.html><h3>ADD STUDENT</h3></a></td>
			<td><h3>
					<a href=/delete.html>DELETE STUDENT
				</h3>
				</a></td>
			<td><a href=/display><h3>STUDENT LIST</a>
			</h3></td>
		</tr>
	</table>
	<br>
	<br>

	<table border="1" width="460" align="center">
		<tr bgcolor="#3633FF">
			<td><h1>
					<u><center>Student List</center></u>
				</h1></td>
		</tr>
	</table>

	<table border="1" width="460" align="center">
		<tr bgcolor="#3633FF">
			<th><b>STUDENT ID</b></th>
			<th><b>NAME</b></th>
			<th><b>BRANCH</b></th>
			<th><b>ADDRESS</b></th>
			<th><b>MOBILE NO</b></th>
		</tr>

		<tr th:each="st : ${students}">
			<td th:text="${st.student_id}"></td>
			<td th:text="${st.student_name}"></td>
			<td th:text="${st.branch}"></td>
			<td th:text="${st.address}"></td>
			<td th:text="${st.mobile_no}"></td>
		</tr>
	</table>
</body>
</html>